<ion-view title="Create Event" id="page12">
    <ion-content padding="true" class="has-header">
        <form id="createEvent-form5" class="list">
            <h3 id="createEvent-heading2" style="color:#F9AB40;">Share your great ideas with your community and get directly involved!</h3>
            <label class="item item-input" id="createEvent-input2">
                <span class="input-label">Enter your ideas here!</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="createEvent-textarea1">
                <span class="input-label">Other ongoing events:</span><textarea placeholder=""></textarea>
            </label>
            <ion-item class="item-thumbnail-left" id="createEvent-list-item1">
                <img src="http://cdn2-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-8.jpg">
                <h2>Tom B. from Wilmington, DE</h2>
                <p style="white-space:normal;">On October 22nd, 2016 Tom wants you to volunteer at the local pound with him!</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="createEvent-list-item2">
                <img src="http://www.homelyhammock.com/img/cms/harris-county-public-library-via-thinkstock.jpg">
                <h2>Julia D. from Newark, DE</h2>
                <p style="white-space:normal;">Join Julie on October 17th at Newark free library to read to local first graders!</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="createEvent-list-item3">
                <img src="http://cjonline.com/sites/default/files/imagecache/superphoto/12200160.jpg">
                <h2>Jill B. from Newark, DE</h2>
                <p style="white-space:normal;">Help Jill clean Middle Run Valley Park October 27th and enjoy a picnic after!</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>
