<ion-view title="Home" id="page2">
    <ion-content padding="true" style="background: url(img/QmHnBMmCTdS3TtoP0ufF_images) no-repeat center;background-size:cover;" class="has-header">
        <h3 id="home-heading1" style="color:#F01832;font-weight:600;text-align:center;">Upcoming Events</h3>
        <ion-list id="home-list2">
            <ion-item class="item-thumbnail-left positive" id="home-list-item6">
                <img src="img/7AHEIngTUioeWkDAWUPb_AdvocateForACause-DetailPage-StoryImage-765x495.jpg">
                <h2positive>Anti-Bullying/Gay Straight Alliance
                    <p>Volunteer points: 20pts</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="home-list-item4">
                <img src="img/tUIAXscpTZC0jo1Jhtvq_paws_amd_people_jpeg_1024x1024.jpg">
                <h2positive>Paws and People
                    <p>Volunteer Points: 25pts</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="home-list-item7">
                <img src="img/kjKdIa4hRR6Lui0nZalG_images">
                <h2positive>High School Mentoring
                    <p>Volunteer Points: 50pts</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="home-list-item8">
                <img src="img/WyDDiDybQQqVXD6ib9dz_images">
                <h2positive>Big Brothers Big Sisters
                    <p>Volunteer Points: 40pts</p>
                </h2positive>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>