<ion-view title="News Feed" id="page2">
    <ion-content padding="true" class="has-header">
        <h1 id="newsFeed-heading1" style="color:#101EBB;font-weight:600;text-align:center;">News Feed</h1>
        <ion-list id="newsFeed-list2">
            <ion-item class="item-thumbnail-left positive" id="newsFeed-list-item6">
                <h2positive>Anti-Bullying/Gay Straight Alliance</h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="newsFeed-list-item4">
                <h2positive>Paws and People</h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="newsFeed-list-item7">
                <h2positive>High School Mentoring</h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="newsFeed-list-item8">
                <h2positive>Big Brothers Big Sisters</h2positive>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>